@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // font-family: "Bai Jamjuree", sans-serif;
  font-family: "Quicksand", sans-serif;
}

header {
  width: 100%;
  height: 90vh;
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1 {
    padding-top: 50px;
    font-size: 2.6rem;
    color: hsl(210, 10%, 33%);
  }
  p {
    padding-top: 20px;
    width: 700px;
    text-align: center;
    font-size: 1.2rem;
    color: hsl(201, 11%, 66%);
    font-weight: bold;
  }
  .buttons {
    padding-top: 40px;
    button {
      margin: 0 10px;
      padding: 20px 30px;
      font-size: 1rem;
      color: white;
      font-weight: bolder;
      border-radius: 50px;
      border: none;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    .ios {
      background-color: hsl(171, 66%, 44%);
      box-shadow: 0px 4px 2px hsl(171, 64%, 33%);
    }
    .mac {
      background-color: hsl(233, 100%, 69%);
      box-shadow: 0px 4px 2px hsl(233, 44%, 44%);
    }
  }
}

.snippets,
.access,
.workflow,
.downloads {
  width: 100%;
  text-align: center;
  h1 {
    font-size: 2rem;
    color: hsl(210, 10%, 33%);
    padding: 20px 0;
  }
  p {
    width: 700px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: hsl(201, 11%, 66%);
    font-weight: bold;
  }
}

.access {
  img {
    padding-top: 50px;
  }
}

.downloads {
  padding: 100px 0;
  .buttons {
    padding: 40px 0;
    button {
      margin: 0 10px;
      padding: 20px 30px;
      font-size: 1rem;
      color: white;
      font-weight: bolder;
      border-radius: 50px;
      border: none;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    .ios {
      background-color: hsl(171, 66%, 44%);
      box-shadow: 0px 4px 2px hsl(171, 64%, 33%);
    }
    .mac {
      background-color: hsl(233, 100%, 69%);
      box-shadow: 0px 4px 2px hsl(233, 44%, 44%);
    }
  }
}

.workflow {
  padding-bottom: 50px;
  .workflow-grid-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    .grid-item {
      min-width: 33.33%;
      flex: 33.33%;
      text-align: center;
      padding: 40px;
      p {
        width: 100%;
      }
    }
  }
}

.brands {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;
  .brand-div {
    flex: 20%;
    min-width: 20%;
    padding: 50px;
    img {
      width: 100%;
    }
  }
}

.features-container {
  width: 100%;
  height: 91vh;
  padding-top: 100px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .img {
    width: 50%;
    img {
      width: 100%;
      transform: translateX(-50px);
    }
  }
  .features {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    .feature-box {
      width: 100%;
      color: hsl(201, 11%, 66%);
      h2 {
        font-size: 2rem;
        padding: 10px 0;
        color: hsl(210, 10%, 33%);
      }
      p {
        font-size: 1.2rem;
        font-weight: bold;
        width: 500px;
      }
    }
  }
}

footer {
  background-color: hsl(201, 27%, 90%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 100px;
  .small-sections {
    flex: 15%;
    min-width: 15%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    img {
      width: 100px;
    }
    a {
      display: block;
      color: hsl(210, 10%, 33%);
      font-size: 1.2rem;
      text-decoration: none;
      padding: 20px;
      &:hover {
        color: hsl(171, 66%, 44%);
      }
    }
  }
  .full-section {
    flex: 40%;
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: right;
    .social-media {
      span {
        i {
          font-size: 1.6rem;
          padding: 20px;
          color: hsl(210, 10%, 33%);
          &:hover {
            color: hsl(171, 66%, 44%);
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1157px) {
  .brands {
    padding: 20px;
  }
}

@media screen and (max-width: 1057px) {
  .features-container {
    .features {
      .feature-box {
        p {
          width: 100%;
        }
      }
    }
  }

  footer {
    padding: 50px;
  }
}

@media screen and (max-width: 1157px) {
  .brands {
    .brand-div {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 921px) {
  .access {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 789px) {
  .workflow {
    .workflow-grid-container {
      padding: 50px 10px;
      .grid-item {
        padding: 20px;
      }
    }
  }

  footer {
    .small-sections {
      flex: 25%;
      min-width: 25%;
    }
    .full-section {
      flex: 100%;
      min-width: 100%;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 715px) {
  header {
    h1 {
      text-align: center;
    }
    p {
      width: 100%;
    }
  }
  .snippets,
  .access,
  .workflow,
  .downloads {
    padding: 20px;
    h1 {
      text-align: center;
    }
    p {
      width: 100%;
    }
  }
}

@media screen and (max-width: 695px) {
  .features-container {
    height: auto;
    display: block;
    .features,
    .img {
      width: 100%;
      img {
        transform: translateX(0);
        padding: 50px;
      }
    }
    .feature-box {
      padding: 20px 0;
    }
  }
}

@media screen and (max-width: 651px) {
  .brands {
    .brand-div {
      flex: 33.33%;
      min-width: 33.33%;
      img {
        width: 80%;
      }
    }
  }

  footer {
    .small-sections {
      flex: 50%;
      min-width: 50%;
    }
  }
}

@media screen and (max-width: 533px) {
  .workflow {
    .workflow-grid-container {
      .grid-item {
        min-width: 50%;
        flex: 50%;
      }
    }
  }

  .downloads {
    .buttons {
      display: flex;
      flex-direction: column;
      button {
        margin: 10px;
      }
    }
  }
}

@media screen and (max-width: 451px) {
  header {
    padding: 20px;
    height: auto;
    h1 {
      text-align: center;
    }
    p {
      width: 100%;
    }
    .buttons {
      button {
        display: block;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 439px) {
  .workflow {
    .workflow-grid-container {
      .grid-item {
        min-width: 100%;
        flex: 100%;
      }
    }
  }

  .brands {
    .brand-div {
      flex: 50%;
      min-width: 50%;
    }
  }

  footer {
    padding: 50px 20px;
    .small-sections {
      flex: 100%;
      min-width: 100%;
      text-align: center;
      img {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 299px) {
  .brands {
    .brand-div {
      flex: 100%;
      min-width: 100%;
      text-align: center;
    }
  }
}
